body {
  height: 100vh;
  width: 1200px;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header,footer{
  margin: 20px 0;
}

header {
  background-color: #ffcc00;
  height: 150px;
}
main{
  display: flex;
  flex-direction: row;
  gap:25px;

}
aside {
  background-color: #9b59b6;
  height: 300px;
  width: 300px;
}

section {
  background-color: #1abc9c;
  height: 300px;
  width: 876px;
}

footer {
  background-color: #e74c3c;
  height: 100px;
}