body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  color: white;
  justify-content: space-evenly;
}

header {
  background-color: dodgerblue;
  text-align: center;
  padding: 20px;
}

.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.left-panel {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: lightgray;
  padding: 10px;
 }

 .left-panel .box{
  width: 250px;

 }

.right-panel {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top-bar, .main-content {
  display: flex;
  gap: 10px;
}

.box {
  background-color: lightcoral;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

footer {
  text-align: center;
  background-color: orangered;
  padding: 20px;
}