body {
    font-family: Arial, sans-serif;
    background: lightblue;
    padding: 20px;
    line-height: 25px;
}

header, #about_me, #projects, #contact_me, footer {
    padding: 20px 50px
}

header {
    background: #1565c0;
    color: white;
    text-align: center;
    word-spacing: 5px;
}

header h1 {
    font-size: 70px;
    font-weight: bold;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

a {
    text-decoration: none;
}

#about_me {
    background: white;
    margin: 20px 0;
    border-radius: 10px;
}
#about_mee {
    border-radius: 10px;
    display:flex;
    gap: 50px;
}

#about_mee p {
    text-align: justify;
}

#about_me img {
    width: 300px;
    height: 200px;
    border: 5px solid lightblue;
    border-radius: 5px;
  }

#projects {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background: #1565c0;
    color: white;
}

#contact_me {
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
    font-weight: bold;
}

fieldset {
    border: 1px solid #ccc;
    margin: 10px 0px;
    border-radius: 5px;
}

#design1 {
    list-style-type: none;
}

#design2 {
    list-style-type: none;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#message{
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px; 
}

button {
    background: #002753;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
}

button:hover {
    background-color: lightblue;
    box-shadow: 5px 5px 15px black;
}

footer {
    text-align: center;
    font-size: 15px;
    color: white;
    background: #445e7a;
    padding: 0px;
}